<xml>
  <Cpu>
    <ImportanceFactor value="1" />
    <ThresholdValue value="100" />
  </Cpu>
  <Ram>
    <ImportanceFactor value="0" />
    <ThresholdValue value="100" />
  </Ram>
  <TCPService>
    <Name value="HTTP" />
    <IPAddress value="*" />
    <Port value="80" />
    <MaxConnections value="0" />
    <ImportanceFactor value="0" />
  </TCPService>
  <ReadAgentStatusFromConfig value="False" />
  <ReadAgentStatusFromConfigInterval value="5" />
  <AgentStatus value="Normal" />
  <Interval value="10" />
  <Port value="3333" />
  <ReturnIdle value="true" />
  <LogLevel value="INFO" />
</xml>
